// 🔽 Vars
$primary-color: rgba(163, 10, 166, 0.04);
$secondary-color: #a30aa6;

$primary-text-color: #100250;
$alt-text-color: #10025083;
$secondary-text-color: #fff;

$heading-font: 'Nunito', Arial, sans-serif;
$content-font: 'Open Sans', Arial, sans-serif;

// 🔽 Styles
body {
  h1,
  h2,
  h3,
  h4 {
    color: $primary-text-color;
    font-family: $heading-font;
  }

  p,
  a {
    font-family: $content-font;
  }

  .hero {
    background-color: $primary-color;
    color: $primary-text-color;
    padding: 160px 20px;
    text-align: center;

    p {
      font-size: 18px;
      font-weight: bold;
    }

    h1 {
      font-size: 48px;
      font-weight: bold;
    }

    h2 {
      font-size: 16px;
    }

    .btn-filled {
      background-color: $secondary-color;
      border-radius: 50px;
      color: $secondary-text-color;
      padding: 16px 32px;

      &:hover {
        background-color: #c40fc7;
      }
    }
  }

  .container {
    .section {
      .section-title {
        font-size: 36px;
        font-weight: bold;
      }

      .project-details {
        .project-title {
          font-size: 24px;
          font-weight: bold;
        }

        .project-description {
          color: $alt-text-color;
          line-height: 1.5;
        }

        .btn-outlined {
          border: 1px solid $secondary-color;
          border-radius: 50px;
          color: $secondary-color;
          padding: 16px 32px;

          &:hover {
            background-color: #c40fc7;
            color: $secondary-text-color;
          }

          .fa-laptop {
            padding-right: 15px;
          }
        }
      }
    }
  }
}

//& 🔽 Media queries
@media (min-width: 768px) {
  body {
    .hero {
      p {
        font-size: 36px;
        font-weight: bold;
      }

      h1 {
        font-size: 72px;
        font-weight: bold;
      }

      h2 {
        font-size: 24px;
      }
    }

    .container {
      width: 800px;

      .section {
        h3 {
          font-size: 52px;
          font-weight: bold;
        }
      }
    }
  }
}
