// 🔽 Vars
$primary-color: #fff3ff;
$secondary-color: #a30aa6;
$bright-secondary-color: #c40fc7;

$dark-color: #100250;
$medium-color: #10025083;
$light-color: #fff;

$heading-font: 'Nunito', Arial, sans-serif;
$content-font: 'Open Sans', Arial, sans-serif;

// 🔽 Styles
body {
  min-height: 100vh;

  //& Global styles
  h1,
  h2,
  h3,
  h4 {
    color: $dark-color;
    font-family: $heading-font;
  }

  p,
  a {
    font-family: $content-font;
  }

  .basic-link {
    color: $secondary-color;
  }

  .btn-filled {
    background-color: $secondary-color;
    border-radius: 50px;
    color: $light-color;
    padding: 16px 32px;

    &:hover {
      background-color: $bright-secondary-color;
      color: $light-color;
    }
  }

  .btn-outlined {
    border: 1px solid $secondary-color;
    border-radius: 50px;
    color: $secondary-color;
    padding: 16px 32px;

    &:hover {
      background-color: $bright-secondary-color;
      color: $light-color;
    }
  }

  .btn-icon {
    padding-right: 15px;
  }

  // & Navbar
  .navbar {
    padding: 20px 30px;

    .navbar-brand {
      font-size: 18px;

      .logo {
        background: -webkit-linear-gradient($secondary-color, $dark-color);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-right: 10px;
      }
    }
  }

  // Overrides default prop
  .bg-primary-color {
    background-color: $primary-color;
  }

  // Overrides default prop
  .navbar-light .navbar-toggler {
    color: $dark-color;
    border-color: transparent;
  }

  // Overrides default prop
  .menu-icon {
    color: $dark-color;
  }

  // Overrides default prop
  .navbar-expand-lg {
    .navbar-collapse {
      justify-content: flex-end;
    }
  }

  // Overrides default prop
  .navbar-light .navbar-brand,
  .navbar-light .navbar-nav .nav-link {
    color: $dark-color;
  }

  // Overrides default prop
  .navbar-light .navbar-nav .nav-link.active {
    color: $secondary-color;
  }

  //& Homepage - Hero
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    color: $dark-color;
    min-height: 100vh;
    padding: 0 30px;
    text-align: center;

    p {
      font-size: 18px;
      font-weight: bold;
    }

    h1 {
      font-size: 48px;
      font-weight: bold;
    }

    h2 {
      font-size: 16px;
    }
  }

  //& Homepage - Featured section
  .container {
    .featured-section {
      .section-title {
        font-size: 36px;
        font-weight: bold;
      }

      .project-details {
        .project-title {
          font-size: 24px;
          font-weight: bold;
        }

        .project-description {
          color: $medium-color;
          line-height: 1.5;
        }
      }
    }
  }

  //& Other sections : about & work
  .container {
    margin: 100px 0;

    .section {
      .section-title {
        font-size: 40px;
        font-weight: bold;
      }

      .section-subtitle {
        font-size: 20px;
        font-weight: bold;
      }

      .section-content {
        color: $medium-color;
        line-height: 1.5;
      }

      .uppercase-title {
        text-transform: uppercase;
        color: $medium-color;
      }

      .stack-icons {
        color: $dark-color;
        font-size: 24px;

        .stack-icon {
          margin-right: 5px;
        }
      }

      .social-icon {
        background-color: $primary-color;
        color: $secondary-color;
        font-size: 30px;
        border-radius: 50px;
        padding: 30px;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }
      }

      .profile-picture {
        max-width: 250px;
      }
    }
  }

  //& Footer
  footer {
    background-color: $primary-color;
    color: $dark-color;
    padding: 20px 30px;
  }

  .copyright {
    font-size: 12px;
    margin: 0;

    a {
      color: $secondary-color;
    }
  }

  .social-icon {
    padding: 10px;
    color: $dark-color;

    &:hover {
      color: $secondary-color;
    }
  }
}

// 🔽 Media queries
@media (min-width: 768px) {
  body {
    //& Homepage - Hero
    .hero {
      p {
        font-size: 36px;
      }

      h1 {
        font-size: 72px;
      }

      h2 {
        font-size: 24px;
      }
    }

    //& Homepage - Featured section
    .container {
      .featured-section {
        .section-title {
          font-size: 52px;
        }
      }
    }
  }
}
